/* Display css */
.image-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: 350px;
  
    margin: 10px;
}
  
.image-list img {
    width: 250px;
    height: 350px;
    border-radius: 8px;
}
.center {
    margin: 40px;
}
  
.button {
    background-color: initial;
    background-image: linear-gradient(-180deg, #009ffd, #2a2a72);
    border-radius: 6px;
    color: #ffffff;
    padding: 5px 10px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 10px;
    padding-bottom: 10px;
}
.button:hover {
    box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}
.address {
    display: block;
    margin: auto;
    height: 30px;
    width: 330px;
    text-align: center;
}
  
  input[type="text"]:focus {
    background-color: lightblue;
}

  /* File Upload css */
.top {
    margin: 40px;
}
  
  input[type="file"] {
    display: none;
}
  
.choose {
    background-color: initial;
    background-image: linear-gradient(-180deg, #5aff15, #00b712);
    border-radius: 6px;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 6px;
    margin-right: 10px;
    padding-bottom: 10px;
}
.choose:hover {
    box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}
.textArea {
    color: white;
}
  
.upload {
    border: 1px solid #13aa52;
    background-color: #13aa52;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 6px;
    margin-left: 10px;
}
  
.upload:hover {
    border: 1px solid #13aa52;
    background-color: #a5efc1;
    color: #ffffff;
    padding: 5px 10px;
}
  
.upload:disabled,
.upload[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}


  /* File Upload css */
.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modalContainer {
    width: 500px;
    height: 200px;
    border-radius: 12px;
    background-color: #000;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}
  
.modalContainer {
    display: inline-block;
    text-align: center;
}
.title {
    display: inline-block;
    text-align: center;
}
  
.titleCloseBtn {
    display: flex;
    justify-content: flex-end;
}
  
.titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 1px;
    cursor: pointer;
}
  
.modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
}
  
.modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modalContainer .footer button {
    width: 100px;
    height: 35px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
  
#cancelBtn {
    background-color: crimson;
}
.address {
    display: block;
    margin: auto;
    height: 30px;
    width: 330px;
    text-align: center;
    margin-top: 40px;
}
  
input[type="text"]:focus {
    background-color: lightblue;
}


.header-main .image-container .header-name {
    font-size: 20px !important;
}

.site-main-desktop .pt-page {
    opacity: 1;
    visibility: visible;
}

.rdw-editor-main {
    background: #fff;
    height: 800px !important;
    color: #000;
    padding: 8px 12px;
}
.rdw-dropdown-wrapper {
    background: #fff;
    color: #000 !important;
}
.rdw-editor-toolbar {
    color: #000 !important;
}
input[type="text"]:focus {
    background-color: lightblue;
    color: #000;
}



/* loader style start */
/* Absolute Center Spinner */
.loadingGif {
    position: fixed;
    z-index: 999;
    height: 12em;
    width: 12em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .loadingGif:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
    background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
  }
  .login__btnloadingGif {
    position: absolute;
    border-radius: 100%;
  }
  
  @keyframes ldio-7q0jl0uyd3 {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
  }
  .ldio-7q0jl0uyd3 div { box-sizing: border-box!important }
  .ldio-7q0jl0uyd3 > div {
    position: absolute;
    width: 100.88px;
    height: 100.88px;
    top: 46.56px;
    left: 46.56px;
    border-radius: 50%;
    border: 7.76px solid #000;
    border-color: #0082ff transparent #0082ff transparent;
    animation: ldio-7q0jl0uyd3 2.564102564102564s linear infinite;
  }
  
  .ldio-7q0jl0uyd3 > div:nth-child(2), .ldio-7q0jl0uyd3 > div:nth-child(4) {
    width: 81.48px;
    height: 81.48px;
    top: 56.26px;
    left: 56.26px;
    animation: ldio-7q0jl0uyd3 2.564102564102564s linear infinite reverse;
  }
  .ldio-7q0jl0uyd3 > div:nth-child(2) {
    border-color: transparent #0082FF !important;
  }
  .ldio-7q0jl0uyd3 > div:nth-child(3) { border-color: transparent }
  .ldio-7q0jl0uyd3 > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
  .ldio-7q0jl0uyd3 > div:nth-child(3) div:before, .ldio-7q0jl0uyd3 > div:nth-child(3) div:after { 
    content: "";
    display: block;
    position: absolute;
    width: 7.76px;
    height: 7.76px;
    top: -7.76px;
    left: 38.8px;
    background: #0082ff;
    border-radius: 50%;
    box-shadow: 0 93.12px 0 0 #0082ff;
  }
  .ldio-7q0jl0uyd3 > div:nth-child(3) div:after {
    left: -7.76px;
    top: 38.8px;
    box-shadow: 93.12px 0 0 0 #0082ff;
  }
  
  .ldio-7q0jl0uyd3 > div:nth-child(4) { border-color: transparent; }
  .ldio-7q0jl0uyd3 > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
  }
  .ldio-7q0jl0uyd3 > div:nth-child(4) div:before, .ldio-7q0jl0uyd3 > div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 7.76px;
    height: 7.76px;
    top: -7.76px;
    left: 29.099999999999998px;
    background: #0082FF !important;
    border-radius: 50%;
    box-shadow: 0 73.72px 0 0 #0082FF !important;
  }
  .ldio-7q0jl0uyd3 > div:nth-child(4) div:after {
    left: -7.76px;
    top: 29.099999999999998px;
    box-shadow: 73.72px 0 0 0 #0082FF !important;
  }
  .loadingio-spinner-double-ring-3nx0746bf3l {
    width: 194px;
    height: 194px;
    display: inline-block;
    overflow: hidden;
    background: rgba(NaN, NaN, NaN, 0);
  }
  .ldio-7q0jl0uyd3 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-7q0jl0uyd3 div { box-sizing: content-box; }
  
  .loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
    background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
  }
  
  /* :not(:required) hides these rules from IE9 and below */
  .loading:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  
  .loading:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 150ms infinite linear;
    -moz-animation: spinner 150ms infinite linear;
    -ms-animation: spinner 150ms infinite linear;
    -o-animation: spinner 150ms infinite linear;
    animation: spinner 150ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
  }
  .public-DraftStyleDefault-block {
    margin: 0px 0;
  }
  
  /* Animation */
  
  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-moz-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-o-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  /* loader style end */