/* Display css */
.image-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: 350px;
  
    margin: 10px;
}
  
.image-list img {
    width: 250px;
    height: 350px;
    border-radius: 8px;
}
.center {
    margin: 40px;
}
  
.button {
    background-color: initial;
    background-image: linear-gradient(-180deg, #009ffd, #2a2a72);
    border-radius: 6px;
    color: #ffffff;
    padding: 5px 10px;
    border: none;
    font-size: 16px;
    border-radius: 5px;
    margin-right: 10px;
    padding-bottom: 10px;
}
.button:hover {
    box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}
.address {
    display: block;
    margin: auto;
    height: 30px;
    width: 330px;
    text-align: center;
}
  
  input[type="text"]:focus {
    background-color: lightblue;
}

  /* File Upload css */
.top {
    margin: 40px;
}
  
  input[type="file"] {
    display: none;
}
  
.choose {
    background-color: initial;
    background-image: linear-gradient(-180deg, #5aff15, #00b712);
    border-radius: 6px;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 6px;
    margin-right: 10px;
    padding-bottom: 10px;
}
.choose:hover {
    box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}
.textArea {
    color: white;
}
  
.upload {
    border: 1px solid #13aa52;
    background-color: #13aa52;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 6px;
    margin-left: 10px;
}
  
.upload:hover {
    border: 1px solid #13aa52;
    background-color: #a5efc1;
    color: #ffffff;
    padding: 5px 10px;
}
  
.upload:disabled,
.upload[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}


  /* File Upload css */
.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modalContainer {
    width: 500px;
    height: 200px;
    border-radius: 12px;
    background-color: #000;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}
  
.modalContainer {
    display: inline-block;
    text-align: center;
}
.title {
    display: inline-block;
    text-align: center;
}
  
.titleCloseBtn {
    display: flex;
    justify-content: flex-end;
}
  
.titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 1px;
    cursor: pointer;
}
  
.modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
}
  
.modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modalContainer .footer button {
    width: 100px;
    height: 35px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
  
#cancelBtn {
    background-color: crimson;
}
.address {
    display: block;
    margin: auto;
    height: 30px;
    width: 330px;
    text-align: center;
    margin-top: 40px;
}
  
input[type="text"]:focus {
    background-color: lightblue;
}


.header-main .image-container .header-name {
    font-size: 20px !important;
}

.site-main-desktop .pt-page {
    opacity: 1;
    visibility: visible;
}

.rdw-editor-main {
    background: #fff;
    height: 800px !important;
    color: #000;
}
.rdw-dropdown-wrapper {
    background: #fff;
    color: #000 !important;
}
.rdw-editor-toolbar {
    color: #000 !important;
}